@use '../../styles/colors';

.navbar_container {
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 8em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;

    & li {
        margin-left: 1.5rem;
        display: inline-block;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        text-transform: lowercase;
    }

    & ul {
        display: flex;
        list-style-type: none;
        margin-right: 1.5em;
    }

    & a {
        text-decoration: none;
        &:hover {
            color: colors.$hovercolor;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            bottom: 0;
            height: 2px;
            margin: -5px 0;
            left: 0;
            background-color: colors.$hovercolor;
            transition: all 0.2s ease-in 0s;
        }
        &:hover:after {
            width: 100%;
        }
    }

    & h3 {
        color: colors.$hovercolor
    }
}